.div-flex{
    display: flex;
}

.div-width{
    width: 20rem;
    background-color: #F3F5FC;
}

.div-margin{
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 4rem;
    width: auto;
}

.title-header{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #2F5FE3
}

.title-header-1{
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    color: #2F5FE3
}

.subTitle-header{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #6579A8;
}

.subTitle-div-2{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #4D5D84;
    width: 28.3rem;
}

.span-state{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #243A72;
}

.hr-color{
    color: #C9D2E8;
}

.padding-bottom{
    padding-bottom: 2rem;
}

.padding-bottom-nationality{
    padding-bottom: 1rem;
    padding-left: 3rem;
}

.div-nationality-padding{
    background-color: #F3F5FC;
    padding: 2rem 0rem 2rem 0rem;
    border-radius: 8px;
    margin-bottom: 3rem;
    width: 100%;
}

.title-header-2{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: #091F5F;   
}

.inf-img{
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #091F5F;   
}

.subtitle-header{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #6579A8;   
}


.style-select-nationality{
    width:98%;
    background:white;
}

.style-select-nationality-1{
    width:98%;
    background:white;
}

.style-observation{
    background-color: #ffe3e3;
    padding: 1rem;
}

.font-style-observation{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #C92B2B;
}

.padding-top{
    padding-top: 1.5rem;
    display: flex;
    justify-content: end;
    padding-bottom: 1rem;
}

.button-style-img{
   width: 124px;
   height: 38px;
   border-radius: 8px;
   background-color: #2F5FE3;
   border: 0;
   
}

.input-style{
    background-color: #ffff;
    width: 28.3rem;
}

.div-grid-nationality-inputs{
    display: grid;   
    grid-template-columns: 33% 33% 33%;
    padding-left: 3rem;
}

.div-grid-nationality-inputs-1{
    display: grid;   
    grid-template-columns: 50% 50%;
    padding-left: 3rem;
}

.div-grid-nationality-inputs-2{
    display: grid;   
    grid-template-columns: 20% 50%;
    padding-left: 3rem;
}

.div-info-img{
    padding-top: 2rem;    
    margin-left: -2rem;
    padding-bottom: 0.5rem;
}

.div-info-img-2{
    border-radius: 8px;
    background-color: #ffff;
    padding: 1rem 0rem 2rem 1.3rem;
}

.div-bnt{
    display: flex;
    justify-content: end;
}

.margin-icon{
    margin-left: -2rem;
    margin-top: -1rem
}


.font-button-img{
    font-size: 16px;
    font-weight: 600;
    line-height: 19.4px;
    color: white;    
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-img-style{
    height: 10.5rem;
    width: 9.5rem;    
    margin-left: 2rem;
    margin-top: 1rem;
    border-radius: 8px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}


