.div-home-head-info{
    display: flex;     
    flex-direction: column;
    justify-content: center;
}

.home-div-flex{
    display: flex;
}

.home-div-flex-docs{
    display: flex;
    justify-content: space-around;
}

.text-align{
    text-align: left;
}

.home-margin-div{
    margin-left: 2rem;
    margin-right: 4rem;
}

.margin-left{
    margin-left: 4rem;
}

.font-size-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.font-size-title-2{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.font-color{
    color: #2F5FE3;
}

.font-color-2{
    color: #091F5F;
}

.font-color-3{
    color: #243A72;
}

.font-title-div-2{
    font-size: 18px;
    font-weight: 700;
    line-height: 21.8px;
}

.font-card{
    font-size: 16px;
    font-weight: 700;
    line-height: 19.4px;
    margin-left: 1rem;
}

.dimension-card{
    width: 18.9rem;
    height: 10.7rem;
    background-color: #c1d3ff;
    border-radius: 8px;
}

.home-padding-bottom{
    padding-bottom: 2rem;
}

.padding-top{
    padding-top: 3rem;
}

.button-style{
   width: 124px;
   height: 48px;
   border-radius: 8px;
   background-color: #2F5FE3;
   border: 0;
   
}

.font-button{
    font-size: 16px;
    font-weight: 600;
    line-height: 19.4px;
    color: white;    
}

.home-botao-iniciar-bot{
    display: none;
}

@media only screen and (max-width: 479px) {
    .home-div-flex{
        flex-direction: column;
    }

    .home-imagem{
        display: flex;
        justify-content: center;
    }

    .home-imagem img{
        width: 260px;
    }

    .home-margin-div{
        margin-right: 32px;
    }

    .home-padding-bottom{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .home-div-flex-docs{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .home-botao-iniciar-top button{
        display: none;
    }

    .home-botao-iniciar-bot{
        width: 100%;
    }

    .home-botao-iniciar-bot button{
        width: 100%;
    }

    .informacoes-importante span{
        display: none;
    }
}

/*!* Estilos para telas entre 480px e 767px (smartphones em modo paisagem e tablets em modo retrato) *!*/
/*@media only screen and (min-width: 480px) and (max-width: 767px) {*/
/*    !* Seus estilos para dispositivos pequenos aqui *!*/
/*}*/

/*!* Estilos para telas menores que 767px (smartphones em modo retrato) *!*/
/*@media only screen and (max-width: 767px) {*/
/*    !* Seus estilos para smartphones aqui *!*/
/*}*/

/*!* Estilos para telas entre 768px e 1199px (tablets em modo retrato) *!*/
/*@media only screen and (min-width: 768px) and (max-width: 1199px) {*/
/*    !* Seus estilos para tablets aqui *!*/
/*}*/

/*!* Estilos para telas maiores que 1200px *!*/
/*@media only screen and (min-width: 1200px) {*/
/*    !* Seus estilos para desktop aqui *!*/
/*}*/
